<!DOCTYPE html>
<html>
  <body>
    <form action="/register-instructor" method="post">
      <label>name:</label>
      <input name="name" />
      <label>password:</label>
      <input name="psaaword" />
      <button>submit</button>
    </form>
  </body>
</html>
<!DOCTYPE html>
<html>
  <body>
    <form action="/login" method="post">
      <label>name:</label>
      <input name="name" />
      <label>password:</label>
      <input name="psaaword" />
      <button>submit</button>
    </form>
  </body>
</html>
<!DOCTYPE html>
<html>
  <body>
    <form action="/createcourse/<%=s._id%>" method="post">
      <label>name:</label>
      <input name="name" />
      <label>description:</label>
      <input name="description" />
      <label>code:</label>
      <input name="code" />
      <button>submit</button>
    </form>
  </body>
</html>
<% for (let e of i.course) { %>
<h1><%=e.name %></h1>
<h1><%=e.description %></h1>
<h1><%=e.code %></h1>
<a href="/delete/<%=e._id%>"> delete </a>
<hr />
<% } %>
